.blog-fullscreen._3otBh {
    width: 100% !important;
}

.blog-fullscreen2._15MuE {
    max-width: none !important;
}

.blog-fullscreen ._2fHGJ {
    width: 100% !important!
}

.blog-fullscreen._1cR6l {
    width: 100% !important!
}
